<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/lion/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/lion/css/reset.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
    <script type="text/javascript"  src="/static/bootstrap/js/bootstrap.js"></script>
</head>
<title>
    欢迎登陆北京化工大学数字传媒专业
</title>
<body>
<div id="world" ></div>

<div id="instructions"><h2>抱歉，您的登陆信息有误，请重新再试</h2>
    <p/>
    <a href="./login" class="btn-lg btn-primary btn">返回上一页</a>
</div>


<script src='/static/lion/js/three.min.js'></script>
<script src='/static/lion/js/OrbitControls.js'></script>

<script src="/static/lion/js/index.js"></script>
</body>
</html>